<h1 mat-dialog-title>Post Task</h1>

<div mat-dialog-content>
  <table>
    <tr>
      <th>
        <mat-form-field style="width:70vw">
          <input matInput id="line" placeholder="Title" [(ngModel)]="task.title" />
        </mat-form-field>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field style="width:70vw">
          <mat-select placeholder="Category" [(ngModel)]="task.type">
            <mat-option *ngFor="let type of types" [value]="type">
              <span id="line">{{type}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field style="width:70vw">
          <mat-select placeholder="Location" [(ngModel)]="task.location">
            <mat-option *ngFor="let location of locations" [value]="location">
              <span id="line">{{location}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field id="box">
          <input matInput id="line" [matDatepicker]="end" placeholder="Need Date" [(ngModel)]="date">
          <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
          <mat-datepicker #end></mat-datepicker>
        </mat-form-field>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field style="width:70vw">
          <mat-slider class="slider"
                      min="1"
                      max="100"
                      step="1"
                      thumbLabel="true"
                      [(ngModel)]="task.bandwidth">
          </mat-slider>
          <input matInput id="line" placeholder="Bandwidth" [(ngModel)]="task.bandwidth" />
        </mat-form-field>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field style="width:70vw">
          <mat-select placeholder="Difficulty" [(ngModel)]="task.difficulty">
            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
              <span id="line">{{difficulty}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </tr>
    <tr>
      <th id="box">
        <mat-checkbox id="line" [(ngModel)]="task.security" (click)="checkChange()">Security Clearence Needed</mat-checkbox>
      </th>
    </tr>
    <tr>
      <th>
        <mat-form-field style="width:70vw">
          <textarea matInput id="line" #message maxlength="256" placeholder="Description" [(ngModel)]="task.description" rows="10" style="resize: none"></textarea>
          <mat-hint>{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
      </th>
    </tr>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-raised-button id="button" (click)="close()">
    Post
  </button>
</div>


