
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #454647;
  color: white;
  text-align: center;
  z-index: 2;
}

.center {
  position: fixed;
  width: 100%;
  text-align: center;
}

.right {
  position: fixed;
  right: 30px;
  bottom: 0px;
  bottom: 5px;
}

.left {
  position: fixed;
  left: 30px;
  bottom: 15px;
  text-align: left;
}
.large {
  font-size: 11px;
  text-align: center;
  text-decoration: none;
}

.row {
  content: "";
  clear: both;
  display: table;
  margin: auto;
}

.text {
  color:white;
  padding: 5px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}


#icon {
  color: white;
  text-decoration: none;
  width: 20px;
  margin-right: 2vw;
}

  #icon:hover {
    color: var(--hover);
  }

#secret{
  cursor:default;
  margin-left: 20px;
}

a:hover{
  color:var(--hover);
}

a#iconE {
  position:fixed;
  padding-top:5px;
  padding-right:0px;
  color: white;
  text-decoration: none;
  width: 45px;
}

#iconE:hover {
  color: var(--hover);
}


/*mobile*/
@media only screen and (max-width: 600px) {
  #secret{
    display:none;
  }
  #desktop{
    display:none;
  }
  #left{
    left:3%;
    line-height:12px;
   
  }
  .center {
    position: fixed;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    margin-left: -4vw;
  }
  .footer{
    height:90px
  }

  #Lockheed{
    display:none;
  }
  .small {
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    text-decoration: none;
 
  }
  .big{
    display:none;
  }
  #icon {
    text-align: center;
    margin-right: 21vw;
 
    transform: scale(.7);
    margin-top:11vh;
    width:15px;
    margin-left:-4vw;
  }
  #iconE {
    margin-left: -4vw;
    transform: scale(.7);
    margin-top: 10vh;
    width: 14px;
    /*margin-left:-5vw;
    margin-right:6vw;*/
  }
  #route{
    font-size:12px;
  }
}


@media only screen and (min-width: 601px) {

  .small {
    font-size:10px;
    line-height:15px;
  }


}
