<mat-toolbar id="footer" color="primary" class="footer">
  <mat-toolbar-row>
    <!--LM logo-->
    <a href="https://www.lockheedmartin.com/en-us/index.html" target="_blank"><img id="Lockheed" src="assets/lmco.png" class="right"></a>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="center">
      <br /><br />
      <!--links for desktop-->
            <div id="desktop">
              <a id="desktop" routerLink="/questions" class="text">FAQs </a>|
              <a id="desktop" routerLink="/about" class="text">About Us</a>|
              <a id="desktop" routerLink="/contact" class="text">Contact Us</a>
            </div>
      <!--end links-->

      <div class="small">Lockheed Martin Proprietary Information <br /> Posts MUST NOT contain: Classified Information <br /><br /><br /></div>
      <div class="big">Lockheed Martin Proprietary Information | Posts MUST NOT contain: Classified Information</div>
    </div>
    <br /><br />
    <!--social media icons-->
    <div class="left">
      
      <a href="https://www.facebook.com/lockheedmartin" id="icon" target="_blank" class="fa fa-facebook"></a>
      <a href="https://twitter.com/lockheedmartin" id="icon" target="_blank" class="fa fa-twitter"></a>
      <a href="http://www.linkedin.com/company/lockheed-martin/careers" id="icon" target="_blank" class="fa fa-linkedin"></a>
      <a href="http://instagram.com/lockheedmartin" id="icon" target="_blank" class="fa fa-instagram"></a>
      <a href="https://eureka.global.lmco.com/" id="iconE" target="_blank"><mat-icon>chat_bubble</mat-icon></a>
      <a routerLink="/joke" (click)="found()" id="secret"><mat-icon>setting</mat-icon></a>
    </div>
    <!--end of social media-->

  </mat-toolbar-row>
</mat-toolbar>
