<p style="height:40px;"></p>


<h1 id="title">The GIG team wants to hear from you!</h1>
<h3>For questions, comments, concerns, suggestions, or praise please fill out the contact form below.</h3>
<div mat-dialog-content>
  <table>
    <tr>
      <th>
          <mat-form-field color="accent" style="width:50vw">
            <input matInput placeholder="Subject"/>
          </mat-form-field>
        </th>
      </tr>
    <tr>
      <th>
        <mat-form-field color="accent" style="width:50vw">
          <textarea matInput #message maxlength="256" placeholder="Message" rows="10" style="resize: none"></textarea>
          <mat-hint>{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
      </th>
      </tr>
    </table>
    
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="accent">
   Submit
  </button>
</div>
<br /><br /><br /><br />
