#table {
  width: 11vw;
  color:black;
}

#title {
  width: 11vw;
  font-weight: bold;
  color: black;
}

#side {
  height: 83vh;
  overflow: hidden;
}

#sidenav {
  width: auto;
  height: 100%;
}

#description {
  width: auto;
  height: 75%;
}

#actionButtonLeft {
  display: block;
  margin-bottom: 15px;
  margin-left: -17px;
  margin-right: 5px;
  width: 100%;
  color: white;
  background-color: var(--accent);
}

#actionButtonLeft:disabled {
  color: grey;
  background-color: lightgrey;
}

#actionButtonRight {
  display: block;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: -17px;
  width: 100%;
  color: white;
  background-color: var(--accent);
}

#actionButtonRight:disabled {
  color: grey;
  background-color: lightgrey;
}

#box {
  height: 66vh;
}
.mat-tab-labels.selected{
  background-color:var(--hover);
  color:black;
}
.mat-tab-labels{
  position:fixed;
  margin-left:0px;
}
div.mat-tab-label-content{
  position: fixed;
  margin-left: 0px;
}


@media only screen and (max-width: 600px) {
  #desktop{
    display:none;
  }
  #side{
    display:none;
  }

  #table {
    width: 25vw;
    font-size: 12px;
    padding-right: 7vw;
    text-align: left;
  }

  #title {
    position: relative;
    font-size: 12px;
    width: 20vw;
    padding-right: 9vw;
  }

  #mobile {
    height: 80vh;
    overflow-y: scroll;
    position: fixed;
    align-content: center;
    max-width: 600px;
    margin-left: -10vw;
    margin-right: 5vw;
  }

  #line {
    width: 100vw;
    left: 0;
    color: var(--primary);
    max-width: 600px;
  }

  #infoCard {
    overflow-y: scroll;
    width: 95vw;
    height: 100vh;
    top: 8vh;
    position: fixed;
    align-content: center;
    max-width: 600px;
    margin-left: 0vw;
    margin-right: -10vw;
  }

  #icon {
    position: fixed;
    right: 10px;
  }

  #actionButton {
    background-color:var(--accent);
    color:white;
    width: 70vw;
    left: 12vw;
    right: 15vw;
    align-content: center;
    text-align: center;
  }
  /deep/.mat-tab-label, /deep/.mat-tab-label-active {
    max-width: 20vw !important;
    padding-left: 12vw !important;
    padding-right:12vw !important;
    left:2vw;
  }
  /deep/.mat-tab-label-content{
    font-size:16px;

  }

}

  @media only screen and (min-width: 601px) {
    /deep/.mat-tab-label, /deep/.mat-tab-label-active {
      max-width: 10vw !important;
      padding-left: 5vw !important;
      padding-right: 5vw !important;
      left: 0vw;
    }
    mobile{
      display:none;
    }

  }
