<!--Spacing to have the table show up under the menu-->
<p style="height:10px;"></p>

<!--Main page content-->
<div id="desktop">
<mat-sidenav-container >
  <mat-sidenav mode="side" opened="true">
    <p style="height:0px;"></p>

    <mat-tab-group (selectedTabChange)="tabChanged($event)">

      <!--Claimed tasks tab-->
      <mat-tab label="Claimed">
        <ng-template matTabContent>

          <mat-list>
            <mat-list-item>
              <span id="title">Task</span>
              <span id="title">Need Date</span>
              <span id="title">Bandwidth</span>
              <span id="title">Category</span>
              <span id="title">Location</span>
              <span id="title">Difficulty</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item id="item" *ngFor="let claim of claimedTasks"
                           [class.selected]="claim === selectedClaim"
                           (click)="selectClaim(claim)">
              <span id="table">{{claim.title}}</span>
              <span id="table">{{claim.date}}</span>
              <span id="table">{{claim.bandwidth}}%</span>
              <span id="table">{{claim.type}}</span>
              <span id="table">{{claim.location}}</span>
              <span id="table">{{claim.difficulty}}</span>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

        </ng-template>
      </mat-tab>

      <!--Posted tasks tab-->
      <mat-tab label="Posted">
        <ng-template matTabContent>

          <mat-list>
            <mat-list-item>
              <span id="title">Task</span>
              <span id="title">Need Date</span>
              <span id="title">Bandwidth</span>
              <span id="title">Category</span>
              <span id="title">Location</span>
              <span id="title">Difficulty</span>
            </mat-list-item>
            <mat-list-item id="item" *ngFor="let post of postedTasks"
                           [class.selected]="post === selectedPost"
                           (click)="selectPost(post)">
              <span id="table">{{post.title}}</span>
              <span id="table">{{post.date}}</span>
              <span id="table">{{post.bandwidth}}%</span>
              <span id="table">{{post.type}}</span>
              <span id="table">{{post.location}}</span>
              <span id="table">{{post.difficulty}}</span>

              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

        </ng-template>
      </mat-tab>

      <!--Copmleted tasks tab-->
      <mat-tab label="Completed">
        <ng-template matTabContent>

          <mat-list>
            <mat-list-item>
              <span id="title">Task</span>
              <span id="title">Need Date</span>
              <span id="title">Bandwidth</span>
              <span id="title">Category</span>
              <span id="title">Location</span>
              <span id="title">Difficulty</span>
            </mat-list-item>
            <mat-list-item id="item" *ngFor="let complete of completedTasks"
                           [class.selected]="complete === selectedComplete"
                           (click)="selectComplete(complete)">
              <span id="table">{{complete.title}}</span>
              <span id="table">{{complete.date}}</span>
              <span id="table">{{complete.bandwidth}}%</span>
              <span id="table">{{complete.type}}</span>
              <span id="table">{{complete.location}}</span>
              <span id="table">{{complete.difficulty}}</span>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </mat-sidenav>

  <mat-sidenav-content id="side">
    <mat-card id="sidenav">

      <div *ngIf="tab == 0">
        <mat-list>
          <mat-list-item>
            <button mat-raised-button id="actionButtonLeft" [disabled]="completeDisabled" color="accent" (click)="completeTask(selectedClaim)">Complete Task</button>
            <button mat-raised-button id="actionButtonRight" [disabled]="completeDisabled" color="accent" (click)="cancelClaimedTask(selectedClaim)">Cancel Claim</button>
          </mat-list-item>
        </mat-list>

        <mat-card id="box">
          <mat-card-title>Task Description</mat-card-title>
          <div *ngIf="selected" id="info">
            <div id="info">{{selectedClaim.description}} <br /><br /></div>
            <div id="description"><b>Point of Contact: </b></div> {{selectedClaim.poc}} <br /><br />
            <div id="description"><b>Security Clearence Needed?</b></div>
            <div *ngIf=selectedClaim.security>Yes</div>
            <div *ngIf=!selectedClaim.security>No</div>
          </div>
        </mat-card>
      </div>

      <div *ngIf="tab == 1">
        <mat-list>
          <mat-list-item>
            <button mat-raised-button id="actionButtonLeft" [disabled]="cancelDisabled" color="accent" (click)="cancelPostedTask(selectedPost)">Cancel Posting</button>
            <button mat-raised-button id="actionButtonRight" [disabled]="changeDisabled" color="accent" (click)="changePostedTask(selectedPost)">Change Selected Post</button>
          </mat-list-item>
        </mat-list>

        <mat-card id="box">
          <mat-card-title>Task Description</mat-card-title>
          <div *ngIf="selected" id="info">
            <div id="info">{{selectedPost.description}} <br /><br /></div>
            <div id="description"><b>Point of Contact: </b></div> {{selectedPost.poc}} <br /><br />
            <div id="description"><b>Security Clearence Needed?</b></div>
            <div *ngIf=selectedPost.security>Yes</div>
            <div *ngIf=!selectedPost.security>No</div>
          </div>
        </mat-card>
      </div>

      <div *ngIf="tab == 2">
        <mat-list>
          <mat-list-item>
          </mat-list-item>
        </mat-list>

        <mat-card id="box">
          <mat-card-title>Task Description</mat-card-title>
          <div *ngIf="selected" id="info">
            <div id="info">{{selectedComplete.description}} <br /><br /></div>
            <div id="description"><b>Point of Contact: </b></div> {{selectedComplete.poc}} <br /><br />
            <div id="description"><b>Security Clearence Needed?</b></div>
            <div *ngIf=selectedComplete.security>Yes</div>
            <div *ngIf=!selectedComplete.security>No</div>
          </div>
        </mat-card>
      </div>

    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>

</div>





<!--mobile only-->


<div id="mobile">
    <p style="height:0px;"></p>

    <mat-tab-group (selectedTabChange)="tabChanged($event)">

      <!--Claimed tasks tab-->
      <mat-tab id="label" label="Claimed">
        <ng-template matTabContent>

          <mat-list>
            <mat-list-item>
              <span id="title">Task</span>
              <span id="title">Location</span>
              <span id="title">Category</span>

            </mat-list-item>

            <mat-divider id="divider"></mat-divider>

            <mat-list-item id="item" *ngFor="let claim of claimedTasks"
                           [class.selected]="claim === selectedClaim"
                           (click)="selectClaim(claim)">
              <span id="table">{{claim.title}}</span>
              <span id="table">{{claim.location}}</span>
              <span id="table">{{claim.type}}</span>
              <mat-divider></mat-divider>
            </mat-list-item>
            <br /><br /><br /><br />
          </mat-list>

          <!--task info popup-->
          <div *ngIf="selected">

            <mat-card [style.overflow]="'auto'" id="infoCard">
              <mat-icon (click)="close()" id="icon">clear</mat-icon>
              <mat-card-title style="font-size:15px;" id="title">Task Description:</mat-card-title>
              <div style="font-size:15px;" id="descriptionSection">{{selectedClaim.description}} <br /><br /></div>
              <div style="font-size:12px;" id="descriptionSection">Bandwidth: </div> {{selectedClaim.bandwidth}}%<br /><br />
              <div style="font-size:12px;" id="descriptionSection">Need Date: </div> {{selectedClaim.date}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Point of Contact: </div> {{selectedClaim.poc}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Category: </div> {{selectedClaim.type}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Locaion: </div> {{selectedClaim.location}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Difficulty: </div> {{selectedClaim.difficulty}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Security Clearence Needed?</div>
              <div *ngIf=selectedClaim.security>Yes</div>
              <div *ngIf=!selectedClaim.security>No</div>
              <br />
              <button mat-raised-button id="actionButton" (click)="completeTask(selectedClaim)">Complete Task</button>
              <br /><br />
              <button mat-raised-button id="actionButton" (click)="cancelClaimedTask(selectedClaim)">Cancel Claim</button>
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </mat-card>
          </div>
          <!--end popup-->
        </ng-template>
      </mat-tab>

      <!--Posted tasks tab-->
      <mat-tab id="label" label="Posted">
        <ng-template matTabContent>

          <mat-list>
            <mat-list-item>
              <span id="title">Task</span>
              <span id="title">Location</span>
              <span id="title">Category</span>

            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item id="item" *ngFor="let post of postedTasks"
                           [class.selected]="post === selectedPost"
                           (click)="selectPost(post)">
              <span id="table">{{post.title}}</span>
              <span id="table">{{post.location}}</span>
              <span id="table">{{post.type}}</span>
              <mat-divider></mat-divider>
            </mat-list-item>
            <br /><br /><br /><br />
          </mat-list>
          <!--task info popup-->
          <div *ngIf="selected">

            <mat-card [style.overflow]="'auto'" id="infoCard">
              <mat-icon (click)="close()" id="icon">clear</mat-icon>
              <mat-card-title style="font-size:15px;" id="title">Task Description:</mat-card-title>
              <div style="font-size:15px;" id="descriptionSection">{{selectedPost.description}} <br /><br /></div>
              <div style="font-size:12px;" id="descriptionSection">Bandwidth: </div> {{selectedPost.bandwidth}}%<br /><br />
              <div style="font-size:12px;" id="descriptionSection">Need Date: </div> {{selectedPost.date}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Point of Contact: </div> {{selectedPost.poc}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Category: </div> {{selectedPost.type}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Locaion: </div> {{selectedPost.location}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Difficulty: </div> {{selectedPost.difficulty}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Security Clearence Needed?</div>
              <div *ngIf=selectedPost.security>Yes</div>
              <div *ngIf=!selectedPost.security>No</div>

              <br />
              <button mat-raised-button id="actionButton" color="accent" (click)="cancelPostedTask(selectedPost)">Cancel Posting</button>
              <br /><br />
              <button mat-raised-button id="actionButton" color="accent" (click)="changePostedTask(selectedPost)">Edit Selected Post</button>
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

            </mat-card>
          </div>
          <!--end popup-->
        </ng-template>
      </mat-tab>

      <!--Completed tasks tab-->
      <mat-tab id="label" label="Completed" style="font-size:15px">
        <ng-template matTabContent>

          <mat-list>
            <mat-list-item>
              <span id="title">Task</span>
              <span id="title">Location</span>
              <span id="title">Category</span>

            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item id="item" *ngFor="let complete of completedTasks"
                           [class.selected]="complete === selectedComplete"
                           (click)="selectComplete(complete)">
              <span id="table">{{complete.title}}</span>
              <span id="table">{{complete.location}}</span>
              <span id="table">{{complete.type}}</span>
              <mat-divider></mat-divider>
            </mat-list-item>
            <br /><br /><br /><br />
          </mat-list>
          <!--task info popup-->
          <div *ngIf="this.selected" >

            <mat-card [style.overflow]="'auto'" id="infoCard">
              <mat-icon (click)="close()" id="icon">clear</mat-icon>
              <mat-card-title style="font-size:15px;" id="title">Task Description:</mat-card-title>
              <div style="font-size:15px;" id="descriptionSection">{{selectedComplete.description}} <br /><br /></div>
              <div style="font-size:12px;" id="descriptionSection">Bandwidth: </div> {{selectedComplete.bandwidth}}%<br /><br />
              <div style="font-size:12px;" id="descriptionSection">Need Date: </div> {{selectedComplete.date}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Point of Contact: </div> {{selectedComplete.poc}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Category: </div> {{selectedComplete.type}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Locaion: </div> {{selectedComplete.location}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Difficulty: </div> {{selectedComplete.difficulty}} <br /><br />
              <div style="font-size:12px;" id="descriptionSection">Security Clearence Needed?</div>
              <div *ngIf=selectedComplete.security>Yes</div>
              <div *ngIf=!selectedComplete.security>No</div>

            </mat-card>
          </div>
          <!--end popup-->
        </ng-template>
      </mat-tab>
    </mat-tab-group>  
</div>
