
.mat-card {
  background-color: var(--hover);
  height: 85%;
  width: 85%;
}

#center {
  display: block;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

#box {
  display: block;
  float: left;
  padding-right: 20px;
}

.mat-dialog-title {
  color: red;
}

.mat-grid-list {
  margin-left: 15vw;
 
}


@media only screen and (max-width: 600px) {
  #title {
    font-size: 25px;
  }
  #desktop{
    display:none;
  }
  #mobile{
    left:1px;
  }
  .mat-grid-list{
    margin-left:2px;
    font-size:10px;
  }
}



@media only screen and (min-width: 601px) {
  #mobile {
    display: none;
  }
}
