<p style="height:40px;"></p>
<div id="desktop">
  <h1 id="title">Meet the Gig Team</h1>
  <mat-divider></mat-divider>
  <br />
  <mat-grid-list cols="208" rows="100" rowHeight="1:1">
    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/megan.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Megan Williams</h3>
        <p>Gig Team Lead</p>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="2"></mat-grid-tile>

    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/nati.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Natnail Belete</h3>
        <p>College Intern</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>

    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/sam.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Samuel Burton</h3>
        <p>College Intern</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>

    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/yoseph.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Yoseph Minasie</h3>
        <p>College Intern </p><br />
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list cols="208" rows="100" rowHeight="1:1">
    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/brenna.jpeg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Brenna Nelson</h3>
        <p>College Intern</p><br />
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>

    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/erik.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Erik Sjordal</h3>
        <p>College Intern</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>

    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/tim.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Timothy Vales</h3>
        <p>College Intern </p><br />
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>

    <mat-grid-tile colspan=40 rowspan="40">
      <mat-card class="card">
        <img src="assets/anthony.PNG" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Anthony Vardaro</h3>
        <p>College Intern</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
  </mat-grid-list>
  <br /><br /><br />
</div>



<!--mobile-->
<div id="mobile">
  <h1 id="title">Meet the Gig Team</h1>
  <mat-divider></mat-divider>
  <br />
  <mat-grid-list cols="208" rows="100" rowHeight="1:1">
    <mat-grid-tile colspan=102 rowspan="100">
      <mat-card class="card">
        <img src="assets/megan.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Megan Williams</h3>
        <p>Gig Team Lead</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"></mat-grid-tile>
    

    <mat-grid-tile colspan=102 rowspan="100">
      <mat-card class="card">
        <img src="assets/nati.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
        <h3>Natnail Belete</h3>
        <p>College Intern</p>
      </mat-card>
    </mat-grid-tile>
    <br/>
  </mat-grid-list>
    <mat-grid-list cols="208" rows="100" rowHeight="1:1">
      <mat-grid-tile colspan=102 rowspan="100">
        <mat-card class="card">
          <img src="assets/sam.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
          <h3>Samuel Burton</h3>
          <p>College Intern</p>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="4"></mat-grid-tile>

      <mat-grid-tile colspan=102 rowspan="100">
        <mat-card class="card">
          <img src="assets/yoseph.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
          <h3>Yoseph Minasie</h3>
          <p>College Intern </p><br />
        </mat-card>
      </mat-grid-tile>
      <br />
    </mat-grid-list>
    <mat-grid-list cols="208" rows="100" rowHeight="1:1">
      <mat-grid-tile colspan=102 rowspan="100">
        <mat-card class="card">
          <img src="assets/brenna.jpeg" style=" width:60%; height:60%; border-radius:50%" id="center" />
          <h3>Brenna Nelson</h3>
          <p>College Intern</p><br />
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="4"></mat-grid-tile>

      <mat-grid-tile colspan=102 rowspan="100">
        <mat-card class="card">
          <img src="assets/erik.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
          <h3>Erik Sjordal</h3>
          <p>College Intern</p>
        </mat-card>
      </mat-grid-tile>
     <br />
      </mat-grid-list>
      <mat-grid-list cols="208" rows="100" rowHeight="1:1">
        <mat-grid-tile colspan=102 rowspan="100">
          <mat-card class="card">
            <img src="assets/tim.jpg" style=" width:60%; height:60%; border-radius:50%" id="center" />
            <h3>Timothy Vales</h3>
            <p>College Intern </p><br />
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="4"></mat-grid-tile>

        <mat-grid-tile colspan=102 rowspan="100">
          <mat-card class="card">
            <img src="assets/anthony.PNG" style=" width:60%; height:60%; border-radius:50%" id="center" />
            <h3>Anthony Vardaro</h3>
            <p>College Intern</p>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2"></mat-grid-tile>
      </mat-grid-list>
      <br /><br /><br /><br /><br /><br />
</div>
<!--end mobile-->
