
#box {
  display: block;
  float: left;
  padding-right: 20px;
}

.mat-dialog-title {
  color: var(--primary);
}

#line {
  color: black;
}

#button {
  background-color: var(--accent);
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: var(--accent);
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: var(--accent);
}

::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: var(--hover);
}

::ng-deep .mat-accent .mat-checkbox-checked {
  color: var(--hover);
}
