<!--Spacing to have the table show up under the menu-->
<p style="height:40px;"></p>
<!--<mat-card style="height:80vh">-->
<mat-sidenav mode="side" opened="true">
  <mat-list>

    <mat-list-item>
      <span id="title1">Rank</span>
      <span id="title2">Name</span>
      <span id="title3">Total Points</span>

    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item id="item" color="primary" *ngFor="let leader of leaders"
                   [class.selected]="lead === leaderPerson">
      <span id="table">{{leader.position}}</span>
      <span id="table">img</span>
      <span id="table">{{leader.name}}</span>
      <span id="table">{{leader.points}}</span>

      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-sidenav>


<br /><br />
<button mat-raised-button (click)="viewAchievements()">refresh</button>

<br /><br />


<!--</mat-card>-->
