#title1{
  color:var(--primary);
  width:8vw;
}

#title2 {
  color: var(--primary);
  width: 80vw;
}
#title3 {
  color: var(--primary);
  width: 12vw;
}

#table1{
  width:8vw;
}
#table2 {
  width: 6vw;
}
#table3 {
  width: 74vw;
}
#table4 {
  width: 12vw;
}
