<p style="height:20px;"></p>

<h1 id="title">Achievements</h1>

<!--<button mat-raised-button (click)="post()">Post</button>
<button mat-raised-button (click)="claim()">Claim</button>
<button mat-raised-button (click)="complete()">Complete</button>
<button mat-raised-button (click)="extra()">Extra</button>-->
<!--<a routerLink="/leaderboard" id="icon" matTooltip="Leaderboard"><mat-icon>assessment</mat-icon></a>-->


<mat-grid-list cols="{{cols}}" rows="3" rowHeight="8:3">
  <mat-grid-tile class="grid"
                 *ngFor="let tiles of achievements"
                 [colspan]="1"
                 [rowspan]="1"
                 [style.background]="tiles.color">

    <mat-card class="content" [style.overflow]="'auto'">

      <!--Achievement card-->
      <mat-list>
        <mat-list-item>

          <!--Progress spinner background-->
          <mat-progress-spinner class="progress_back"
                                color="progress"
                                value="100"
                                diameter="100"
                                strokeWidth="7">
          </mat-progress-spinner>

          <!--Progress spinner-->
          <mat-progress-spinner class="progress"
                                color="accent"
                                value="{{tiles.percentage}}"
                                diameter="100"
                                strokeWidth="7">
          </mat-progress-spinner>

          <!--Achievement Icon-->
          <img class="symbol" src="{{tiles.image}}" width="100" height="100" />

          <!--Description and title-->
          <mat-list>
            <mat-list-item>
              <div class="name">{{tiles.title}}</div>
            </mat-list-item>
            <mat-list-item>
              <div class="description">
                {{tiles.description}} <br />
                {{tiles.val}} / {{tiles.goal}}
              </div>
            </mat-list-item>
          </mat-list>

        </mat-list-item>
      </mat-list>

    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
<br /><br /><br /><br /><br /><br />
