
.content {
  position: absolute;
  width: 85%;
  height: 85px;
  border-radius: 10px;
  z-index: 1;
}

.progress {
  position: absolute;
  margin-top: 11px;
  margin-left: -20px;
  margin-right: 10px;
  z-index: 10;
}

  .progress::ng-deep circle {
    stroke: var(--accent);
  }

.progress_back {
  position: absolute;
  margin-top: 11px;
  margin-left: -20px;
  margin-right: 10px;
  z-index: 5;
}

  .progress_back::ng-deep circle {
    stroke: lightgrey;
  }

.symbol {
  position: absolute;
  margin-top: 11px;
  margin-left: -20px;
  margin-right: 10px;
  z-index: 1;
}

.header {
  font-size: 40px;
  position: center;
}

.name {
  font-weight: bold;
  margin-top: -10px;
  margin-left: 100px;
  max-width: 75%;
}

.description {
  margin-top: -10px;
  margin-left: 100px;
  max-width: 75%;
}

#icon {
  color: var(--primary);
  top: 90px;
  transform: scale(2);
  position: absolute;
  right: 25px;
  width: 25px;
}
