<p style="height:40px;"></p>
<h1 id="title">Frequently Asked Questions:</h1>

<h3 id="title">How do I edit my profile information?</h3>
<p>
  To edit your profile information, first head to the 'My Profile' page. Next, click on the settings icon. This will link you to LMCO White Pages where you can edit your information.
  <br />Click save, then refresh your gig window, and your information will then update.
</p>
<br /><br />

<h3 id="title">Why should I use this website?</h3>
<p>
  This website will help to connect employees across Lockheed Martin. Managers have the ability to post extra tasks that they need completed, allowing empoyees with spare time to pick up these tasks. <br />
  This helps to increase production, and ensure employees are never in need of more work to do.
</p>
<br /><br />

<h3 id="title">Why can't I view the chart on my profile?</h3>
<p>The chart will appear once you complete your first task. This tool will keep track of how many tasks of each category you complete.</p>
<br /><br />

<h3 id="title">Why can't I complete my own task?</h3>
<p>
  As the mission of this website is to help you branch out and work with new people, completing your own tasks would be counterintuitive. Also, completing tasks helps you to earn <br />
  achievements, therefore you can not complete the tasks you post.
</p>
<br /><br />
<h3 id="title">Why do I keep geting notified about achievements, and how can I view these achievements?</h3>
<p>
  Achievements can be earned by posting, claiming, and completeing tasks, and for enteracting with the app overall. The achievements you have earned can be viewed on the 'My Profile' page. <br />
  All achievements can be viewed on the 'Achievements' page. Access this page by clicking on the forth icon from the right.
</p>
<br /><br />
<h3 id="title">I want to change the theme, how do I do this?</h3>
<p>Click on the paint roller icon! This will give you the option of sixteen different themes to choose from.</p>
<br /><br />
<h3 id="title">Please explain the tasks page.</h3>
<p>
  Alright, so there is a table displaying all tasks. These tasks can then be sorted by category, location, and difficulty by using the drop down tabs in the table header.<br />
  When you click on a task, its details will be displayed to the right, including the discription, person of contact, and whether or not a security clearence is required <br />
  to complete this task. When you find a task you want to complete, just click the claim task button to begin!
</p>

<br /><br />

<h3 id="title">For any further questions, please submit them on the contact us page!</h3>

<br /><br /><br /><br /><br />
