@import '../../theme.scss';


#siteTitle {
  font-weight: bold;
}

#menu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
}

#logo {
  z-index: 100;
  top: 0;
  left: 0;
  padding-right: 0px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
  padding-right: 25px;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: mat-color($hover);
}

#menuButton {
  text-decoration-color: white;
  width: 20px;
  position: fixed;
  margin-left: 130px;
}

#item:hover {
  background-color: mat-color($accent);
}

.selected {
  background-color: mat-color($secondary);
}

#title {
  color: mat-color($primary);
}
