:root {
  --primary: rgb(50, 50, 70);
  --accent: rgb(100, 100, 120);
  --hover: rgb(200, 200, 220);
}



h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

#item:hover {
  background-color: var(--hover);
  color:var(--hover);
}

.selected {
  background-color: var(--accent);
}

#title {
  color: var(--primary);
}


@media only screen and (max-width: 600px){
  .selected {
  background-color: var(--hover);
  }
}
