@import '~@angular/material/theming';

@include mat-core();


$primary: mat-palette($mat-grey, 800);
$secondary: mat-palette($mat-grey, 500);
$accent: mat-palette($mat-grey, 300);
$hover: mat-palette($mat-grey, 100);
$theme: mat-light-theme($primary, $accent, $secondary);
@include angular-material-theme($theme);
