<!--easter egg made by Brenna, please dont remove :)-->

<p style="height:25px;"></p>



<h3 id="title">Beautiful jokes: brought to you exclusively by gig</h3>
<br />

<h5 id="title">What does a nosey pepper do?</h5>
<h6>It gets jalapeño business!</h6>
<br />

<h5 id="title">What does a baby computer call his father?</h5>
<h6>Data</h6>

<br />

<h5 id="title">What do you call a bear without any teeth?</h5>
<h6>A gummy bear</h6>

<br />

<h5 id="title">Why did the golfer change his pants?</h5>
<h6>Because he got a hole in one!</h6>

<br />

<h5 id="title">I bought a ceiling fan the other day.</h5>
<h6>He just stands there applauding and saying “Ooh, I love how smooth it is.”</h6>

<br />

<h5 id="title">What do you get when you cross a snowman with a vampire?</h5>
<h6>Frostbite</h6>

<br />

<h5 id="title">Why did Cinderella get kicked off the football team?</h5>
<h6>Because she kept running from the ball</h6>
<br />

<h5 id="title">What do vegan zombies eat?</h5>
<h6>GRRRAAAAIIINNNNNSSSSS</h6>

<br />

<h5 id="title">How many ears does spock have?</h5>
<h6>Three. The left ear, the right ear, and the final front-ear</h6>

<br />

<h5 id="title">How did Darth Vader know what Luke got him for Christmas?</h5>
<h6>He felt his presence</h6>

<br />

<h5 id="title">Why dont they play poker in the jungle?</h5>
<h6>There are too many cheetahs!</h6>

<br />

<h5 id="title">What do you call someone with no body and no nose?</h5>
<h6>Nobody knows</h6>

<br />

<h5 id="title">When is your door not actually a door?</h5>
<h6>When it's ajar</h6>

<br />

<h5 id="title">How many tickeles does it take to make an octopus laugh?</h5>
<h6>Tentacles</h6>

<br />

<h5 id="title">How does moses make his tea?</h5>
<h6>Hebrews it</h6>

<br />

<h5 id="title">I just watched a documentary about beavers.</h5>
<h6>It was the best dam show I ever saw.</h6>

<br />

<h5 id="title">What did the janitor say when he jumped out of the closet?</h5>
<h6>"Supplies!"</h6>

<br />

<h5 id="title">What is the loudest pet you can get?</h5>
<h6>A trumpet</h6>

<br />

<h5 id="title">Why shouldn't you write with a broken pencil?</h5>
<h6>Because it's pointless</h6>

<br />

<h5 id="title">What do you call a fish with no eye?</h5>
<h6>Fsh</h6>

<br />

<h5 id="title">What do you call a blind dinosaur?</h5>
<h6>Doyouthinkhesaurus</h6>

<br />

<h5 id="title">What is brown and sticky?</h5>
<h6>A stick!</h6>

<br />

<h5 id="title">Sometimes I just tuck my knees into my chest and lean forward.</h5>
<h6>That's just how i roll</h6>

<br />

<h5 id="title">Why can't you hear a Pterodactyl go to the bathroom?</h5>
<h6>Because the pee is silent</h6>

<br />

<h5 id="title">What do you call a man who can't stand</h5>
<h6>Neil</h6>

<br />

<h5 id="title">I'm thinking about removing my spine.</h5>
<h6>I feel like it's only holding me back.</h6>

<br />

<h5 id="title">Why don't crabs donate?</h5>
<h6>Because they're shellfish.</h6>

<br />

<h5 id="title">Whats the best part about living in Switzerland?</h5>
<h6>I don't know, but the flag is a big plus.</h6>

<br />

<h5 id="title">Ever tried to eat a clock?</h5>
<h6>It's very time consuming.</h6>

<br />

<h5 id="title">Did you hear about the circus fire?</h5>
<h6>It was in tents!</h6>

<br />

<h5 id="title">What's red and bad for your teeth?</h5>
<h6>A brick.</h6>

<br />

<h5 id="title">What did the horse say after it tripped?</h5>
<h6>"Help! I've fallen and I can't giddyup!"</h6>

<br />

<h5 id="title">What's Forrest Gump's password?</h5>
<h6>1forrest1</h6>

<br />

<h5 id="title">What did the pirate get oh his report card?</h5>
<h6>Seven C's!</h6>

<br />

<h5 id="title">What's E.T. short for?</h5>
<h6>Because he's got little legs</h6>

<br />

<h5 id="title">Why are colds such bad robbers?</h5>
<h6>Because they're easy to catch</h6>

<br />

<h5 id="title">How do you organize a space-themed party?</h5>
<h6>You Planet</h6>

<br />

<h5 id="title">What do you call a factory the produces passable products?</h5>
<h6>A satisfactory</h6>

<br />

<h5 id="title">Why did the invisible man turn down the job offer?</h5>
<h6>He couldn't see himself doing it</h6>

<br />

<h5 id="title">How do you make a tissue dance?</h5>
<h6>You put a little boogie in it</h6>

<br />

<h5 id="title">What's at the bottom of the ocean and shivers?</h5>
<h6>A nervous wreck</h6>

<br />

<h5 id="title">Two antennas met on a roof, fell in love, and got married.</h5>
<h6>The ceremony wasn't much, but the reception was excellent!</h6>

<br />

<h5 id="title">What did one ocean say to the other ocean?</h5>
<h6>Nothing, they just waved</h6>

<br />

<h5 id="title">What do you call a boomerang that doesnt come back?</h5>
<h6>A stick</h6>

<br />

<h5 id="title">What do you call a can opener that doesn't work?</h5>
<h6>A can't opener</h6>

<br />

<h5 id="title">What do you call a fly without wings?</h5>
<h6>A walk</h6>

<br />

<h5 id="title">What do you call chicking looking at lettuce?</h5>
<h6>A chicken sees-a salad</h6>

<br />

<h5 id="title">What do you call a cow with no legs?</h5>
<h6>Ground Beef</h6>

<br />

<h5 id="title">How does a penguin build its house?</h5>
<h6>Igloos it together</h6>

<br />

<h5 id="title">What do you call a fat psychic?</h5>
<h6>A four-chin teller</h6>

<br />

<h5 id="title">Did you hear about the kidnapping at school?</h5>
<h6>It's fine, he woke up</h6>

<br />

<h5 id="title">What did the fried rice say to the shrimp?</h5>
<h6>"Don't you wok away from me!"</h6>

<br />

<h5 id="title">What did the clock do when it was hungry?</h5>
<h6>It went back four seconds</h6>

<br />

<h5 id="title">When does a joke become a dad joke?</h5>
<h6>When it becomes apparent</h6>

<br />

<h5 id="title">Why did the powerpoint cross the road?</h5>
<h6>To get to the other slide.</h6>

<br />

<h5 id="title">What do you call a group of eight Hobbits?</h5>
<h6>A Hobbyte</h6>

<br />

<h5 id="title">How does a computer get drunk?</h5>
<h6>It takes screenshots</h6>

<br />

<h5 id="title">Which computer sings the best?</h5>
<h6>aDell</h6>

<br />

<h5 id="title">What does a computer eat as a snack?</h5>
<h6>Microchips</h6>

<br />

<h5 id="title">we'll, we'll, we'll... if it isn't autocorrect</h5>
<h6></h6>

<br />

<h5 id="title">Why was the tomato blushing?</h5>
<h6>Because he saw the salad dressing</h6>

<br />

<h5 id="title"></h5>
<h6></h6>

<br />

<h5 id="title"></h5>
<h6></h6>

<br />

<h5 id="title"></h5>
<h6></h6>

<br />

<h5 id="title"></h5>
<h6></h6>

<br />

<h5 id="title"></h5>
<h6></h6>

<br />

<h5 id="title"></h5>
<h6></h6>

<br />
<br />

<br />
<br />

<br />
<br />
