.mat-raised-button {
  background-color: var(--accent);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 8vw;
  height: 5vh;


}
.mat-button-toggle {
  color:white;
  border-color: var(--accent);
  width: 130px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  border: solid;
}

  .mat-button-toggle.selected {
    border: solid;
    border-color: black;
  }

#text {
  color: white;
}

.mat-button-toggle:active {
  border: solid;
  border-color: black;
}

.mat-button-toggle-group {
  box-shadow: none;
  
}


@media only screen and (max-width: 600px) {
  .mat-button-toggle {
    color:white;
    margin-left:2.5vw;
    width: 26vw;
    height: 6vw;
    padding-top:2vw;
    padding-bottom:2vw;
    margin-top: 2vh;
    text-align: center;
    border: solid;
  }

  #desktop{
    display:none;
  }
  #mobile{
    width:90vw;
    height:90vh;
  }
  .mat-dialog-container {
    width: 90vw;
    height: 95vh;
  }
  #title{
    margin-bottom:-2vh;
  }
}


@media only screen and (min-width: 601px) {
  #mobile {
    display: none
  }
}
