
<div mat-dialog-content id="desktop">
  <h1 mat-dialog-title id="title">Select a Theme!</h1>

  <table>
    <tr>
      <th>
        <!--color pick pop up layout-->
        <div color="accent" style="width:43vw">

          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('red')" style="background-color: rgb(200, 14, 34)">Red</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('green')" id="text" style="background-color: rgb(18, 168, 23)">Green</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('blue')" id="text" style="background-color: rgb(3, 43, 163)">Blue</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('fuschia')" id="text" style="background-color: rgb(167, 0, 186)">Fuschia</mat-button-toggle><br /><br />

          </mat-button-toggle-group>
          <br /><br />
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('orange')" id="text" style="background-color: rgb(229, 64, 9)">Orange</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('aqua')" id="text" style="background-color: rgb(0, 201, 167)">Aqua</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('navy')" id="text" style="background-color: rgb(34, 4, 115)">Navy</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('pink')" id="text" style="background-color: rgb(249, 49, 116)">Pink</mat-button-toggle><br /><br />
          </mat-button-toggle-group>
          <br /><br />
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('amber')" id="text" style="background-color: rgb(252,180, 0)">Amber</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('teal')" id="text" style="background-color: rgb(0, 128, 128)">Teal</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('purple')" id="text" style="background-color: rgb(100, 3, 163)">Purple</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('maroon')" id="text" style="background-color: rgb(161, 30, 75)">Maroon</mat-button-toggle><br /><br /><br />
          </mat-button-toggle-group>
          <br /><br />
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('lime')" id="text" style="background-color: rgb(94, 247, 64)">Lime</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('light blue')" id="text" style="background-color: rgb(0, 151, 201)">Sky Blue</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('purple2')" id="text" style="background-color: rgb(80, 1, 81)">Eggplant</mat-button-toggle>&nbsp;&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('grey')" id="text" style="background-color: rgb(50, 50, 70)">Grey</mat-button-toggle><br /><br /><br />
          </mat-button-toggle-group>
        </div>
      </th>
    </tr>
    <tr>
  </table>
  <br />
  <button mat-raised-button (click)="saveTheme()">Save</button>

</div>


<!--for mobile-->
<div mat-dialog-content id="mobile">
  <h1 style="padding-left:10px" mat-dialog-title id="title">Select a Theme!</h1>
  <!--color pick pop up layout for mobile-->
  <table>
    <tr>
      <th>
        <div color="accent" style="width:23vw">

          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('red')" id="text" style="background-color: rgb(200, 14, 34)">Red</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('blue')" id="text" style="background-color: rgb(3, 43, 163)">Blue</mat-button-toggle><br />
          </mat-button-toggle-group>
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('orange')" id="text" style="background-color: rgb(229, 64, 9)">Orange</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('navy')" id="text" style="background-color: rgb(34, 4, 115)">Navy</mat-button-toggle><br />
          </mat-button-toggle-group>
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('amber')" id="text" style="background-color: rgb(252,180, 0)">Amber</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('purple')" id="text" style="background-color: rgb(100, 3, 163)">Purple</mat-button-toggle><br />
          </mat-button-toggle-group>
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('lime')" id="text" style="background-color: rgb(94, 247, 64)">Lime</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('purple2')" id="text" style="background-color: rgb(80, 1, 81)">Eggplant</mat-button-toggle><br />
          </mat-button-toggle-group>
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('green')" id="text" style="background-color: rgb(18, 168, 23)">Green</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('fuschia')" id="text" style="background-color: rgb(167, 0, 186)">Fuschia</mat-button-toggle><br />
          </mat-button-toggle-group>
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('aqua')" id="text" style="background-color: rgb(0, 201, 167)">Aqua</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('pink')" id="text" style="background-color: rgb(249, 49, 116)">Pink</mat-button-toggle><br />
          </mat-button-toggle-group>
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('teal')" id="text" style="background-color: rgb(0, 128, 128)">Teal</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('maroon')" id="text" style="background-color: rgb(161, 30, 75)">Maroon</mat-button-toggle><br />
          </mat-button-toggle-group>
          <mat-button-toggle-group>
            <mat-button-toggle mat-raised-button (click)="selectColor('light blue')" id="text" style="background-color: rgb(0, 151, 201)">Sky Blue</mat-button-toggle>&nbsp;
            <mat-button-toggle mat-raised-button (click)="selectColor('grey')" id="text" style="background-color: rgb(50, 50, 70)">Grey</mat-button-toggle><br />
          </mat-button-toggle-group>
          <br />

        </div>
      </th>
    </tr>
    <tr>
  </table>
  <br />
  <button mat-raised-button (click)="saveTheme()">Save</button>

</div>
