

/*PROFILE CARD*/
h1 {
  color: var(--primary);
  font-size: 40px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: -10px;
}

h2 {
  color: grey;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10%;
}

#center {
  display: block;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h3 {
  color: var(--primary);
  font-size: 30px;
  margin-bottom: 1vh;
}

#cards {
  background-color: var(--hover);
  height: 90%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.content {
  position: absolute;
  width: 80px;
  height: 80px;
  /*border-radius: 5px;*/
}

.progress {
  position: absolute;
  margin-top: 10px;
  margin-left: -25px;
  z-index: 10;
}

.progress_back {
  position: absolute;
  margin-top: 10px;
  margin-left: -25px;
  z-index: 5;
}

.progress::ng-deep circle {
  stroke: var(--accent);
}

.progress_back::ng-deep circle {
  stroke: lightgrey;
}

.symbol {
  position: absolute;
  margin-top: 10px;
  margin-left: -25px;
  z-index: 1;
}

#icon {
  color: var(--accent);
}

.chart {
  padding-left:10px;
  transform: scale(1.15);
  position: absolute;
  height: 100%;
  width: 90%;
}


@media only screen and (max-width: 600px) {
  #desktop{
    display:none;
  }
  .chart {
    padding-left:0px;
    transform: scale(1.23);
    position: absolute;
    height: 100%;
    width: 90%;
  }

}


@media only screen and (min-width: 601px) {
  #mobile{
    display:none;
  }

}
