<p style="height:40px;"></p>

<mat-grid-list cols="103" rows="51" rowHeight="20px" id="desktop">

  <mat-grid-tile colspan="1" rowspan="51">
  </mat-grid-tile>

  <mat-grid-tile colspan=25 rowspan="25">

    <mat-card id="cards" [style.overflow]="'auto'">
      <a *ngIf="user" href="https://ewp.global.lmco.com/#Profile/{{user.PersonID}}" target="_blank" id="icon" matTooltip="Profile Settings"><mat-icon svgIcon="settings"></mat-icon></a>

      <img *ngIf="user" src="https://ewp.global.lmco.com/Photo/Download/{{user.PersonID}}" style="max-width:150px; max-height:150px%; border-radius:50%" id="center">

      <h1 *ngIf="user===undefined">John Doe</h1>
      <h1 *ngIf="user">{{user.DisplayName}}</h1>
      <h2 *ngIf="user">{{user.JobTitle}}</h2>
      
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan=25 rowspan="25">
    <mat-card id="cards" [style.overflow]="'auto'">
      <h3><b>My Information</b></h3>
      <mat-divider></mat-divider>
      <p>
        <br /><br />Email: <span *ngIf="user">{{user.Email}}</span>
        <br /><br />Department: <span *ngIf="user">{{user.BusinessAreaName}}</span>
        <br /><br />Location: <span *ngIf="user">{{user.City}}</span>

      </p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan=1 rowspan="25">
  </mat-grid-tile>

  <mat-grid-tile colspan=50 rowspan="25">
    <mat-card id="cards">
      <h3><b>My Work</b></h3>
      <mat-divider></mat-divider>
      <br /><br /><br /><br />
      <div class="chart">
        <canvas baseChart
                [chartType]="'pie'"
                [data]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="onChartClick($event)"></canvas>
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan=1 rowspan="51">
  </mat-grid-tile>

  <mat-grid-tile colspan=101 rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile colspan=101 rowspan="{{rows}}">
    <mat-card id="cards">
      <h3><b>My Awards</b></h3>
      <mat-divider></mat-divider>
      <p>
        <mat-grid-list cols="{{cols}}" rows="1" rowHeight="1:1">
          <mat-grid-tile class="grid"
                         *ngFor="let tiles of achievements"
                         [colspan]="1"
                         [rowspan]="1"
                         matTooltip={{tiles.description}}
                         [style.background]="tiles.color">


            <mat-card class="content" [style.overflow]="'auto'">

              <!--Achievement card-->
              <mat-list>
                <mat-list-item>

                  <!--Progress spinner background-->
                  <mat-progress-spinner class="progress_back"
                                        color="progress"
                                        value="100"
                                        diameter="100"
                                        strokeWidth="7">
                  </mat-progress-spinner>

                  <!--Progress spinner-->
                  <mat-progress-spinner class="progress"
                                        color="accent"
                                        value="{{tiles.percentage}}"
                                        diameter="100"
                                        strokeWidth="7">
                  </mat-progress-spinner>

                  <!--Achievement Icon-->
                  <img class="symbol" src="{{tiles.image}}" width="100" height="100" />

                </mat-list-item>
              </mat-list>

            </mat-card>

          </mat-grid-tile>
        </mat-grid-list>
      </p>
    </mat-card>
  </mat-grid-tile>
  <br /><br /><br /><br />
</mat-grid-list>



<!--mobile only-->


<mat-grid-list cols="103" rows="51" rowHeight="20px" id="mobile">

  <mat-grid-tile colspan=101 rowspan="15">

    <mat-card id="cards" [style.overflow]="'auto'">
      <a *ngIf="user" href="https://ewp.global.lmco.com/#Profile/{{user.PersonID}}" target="_blank" id="icon" matTooltip="Profile Settings"><mat-icon svgIcon="settings"></mat-icon></a>

      <img *ngIf="user" src="https://ewp.global.lmco.com/Photo/Download/{{user.PersonID}}" style="max-width:150px; max-height:150px%; border-radius:50%" id="center">

      <h1 *ngIf="user===undefined">John Doe</h1>
      <h1 style="font-size:18px" *ngIf="user">{{user.DisplayName}}</h1>
      <h2 style="font-size:14px" *ngIf="user">{{user.JobTitle}}</h2>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan=101 rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan=101 rowspan="10">
    <mat-card id="cards" [style.overflow]="'auto'">
      <h3><b>My Information</b></h3>
      <mat-divider></mat-divider>
      <p>
        <br /><br />Email: <span *ngIf="user">{{user.Email}}</span>
        <br /><br />Department: <span *ngIf="user">{{user.BusinessAreaName}}</span>
        <br /><br />Location: <span *ngIf="user">{{user.City}}</span>

      </p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan=101 rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile colspan=101 rowspan="12">
    <mat-card id="cards">
      <h3><b>My Work</b></h3>
      <mat-divider></mat-divider>
      <br /><br />
      <div class="chart">
        <canvas baseChart
                [chartType]="'pie'"
                [data]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions"
                [legend]="true"
                (chartClick)="onChartClick($event)"></canvas>
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan=101 rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile colspan=101 rowspan="{{rows}}">
    <mat-card id="cards">
      <h3><b>My Awards</b></h3>
      <mat-divider></mat-divider>
      <p>
        <mat-grid-list cols="{{cols}}" rows="1" rowHeight="1:1">
          <mat-grid-tile class="grid"
                         *ngFor="let tiles of achievements"
                         [colspan]="1"
                         [rowspan]="1"
                         matTooltip={{tiles.description}}
                         [style.background]="tiles.color">


            <mat-card class="content" [style.overflow]="'auto'">

              <!--Achievement card-->
              <mat-list>
                <mat-list-item>

                  <!--Progress spinner background-->
                  <mat-progress-spinner class="progress_back"
                                        color="progress"
                                        value="100"
                                        diameter="100"
                                        strokeWidth="7">
                  </mat-progress-spinner>

                  <!--Progress spinner-->
                  <mat-progress-spinner class="progress"
                                        color="accent"
                                        value="{{tiles.percentage}}"
                                        diameter="100"
                                        strokeWidth="7">
                  </mat-progress-spinner>

                  <!--Achievement Icon-->
                  <img class="symbol" src="{{tiles.image}}" width="100" height="100" />

                </mat-list-item>
              </mat-list>

            </mat-card>

          </mat-grid-tile>
        </mat-grid-list>
      </p>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
<br /><br />
