@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#siteTitle {
  font-weight: bold;
}

#menu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--primary);
}
#logo {
  z-index: 100;
  top: 0;
  left: 0;
  padding-right: 0px;
  padding-top: 10px;
}


a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
  padding-right: 25px;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: var(--hover);
}

.menuButton {
  text-decoration-color: white;
  text-align: center;
  width: 100px;
}

.matBadge {
  color: var(--accent);
  background-color: var(--accent);
}

#icon {
  position: fixed;
  right: 5px;
  padding-top: 10px;
  width: 25px;
}

#icon2 {
  position: fixed;
  right: 55px;
  padding-top: 10px;
  width: 25px;
}

#icon3 {
  position: fixed;
  right: 105px;
  padding-top: 10px;
  width: 25px;
}


.example-large-box {
  height: 300px;
  width: 300px;
}

.right {
  position: fixed;
  right: 73px;
  text-align: right;
  color: white;
}

.rightt {
  left: 50px;
  bottom: 2px;
}


#clearIcon {
  color:var(--primary);
  position: fixed;
  margin: 0px;
  width: 25px;
  right: 80px;
  top:15px;
}

.example-large-box {
  display: flex;
  //margin-left: 16px;
  // margin-right: 16px;
  align-items: center;
  justify-content: center;
  /*padding: 16px;*/
}

.example-large-box {
  overflow-y: auto;
  height: 220px;
  width: 300px;
}


.notification-text {
  /*display: table-cell;*/
  left: 5px;
  vertical-align: middle;
  color: black;
  cursor: pointer;
  font-size: 14px;
  /*word-spacing: 2px;*/
  line-height: 21px;
  overflow-y: auto;
  overflow-x: hidden;
  
}


ul{
  margin-left: -50px;
}
.highlight{
  font-weight: bold;
  color: black;
}

.mat-tab{
  color:var(--primary);
}

.notifications ul {
  list-style-type: none;
  display: inline-block;
}

  .notifications ul li {
    display: block;
    /*padding: 4px;*/
  }

.dropdown-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.bold {
  font-weight: bold;
  color:black;
  padding-left:1em;
  padding-top:1em;
}

.mat-tab-label{
  color:var(--primary);
}

/deep/.mat-tab-label, /deep/.mat-tab-label-active {
  min-width: 50px !important;
  /*padding: 3px !important;*/
  margin: 3px !important;
  font-weight: bold !important;
  font-size: larger !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  position: fixed;
  left: 55px;
}

#note {
  top:40px;
  padding-top: 100px;
  box-shadow: none;
}


mat-card.mat-card {
  height: 35vh;

  box-shadow: none;
}

div.mat-menu-content {
  box-shadow: none;
}

#notecard {
  box-shadow: none;
}

mat-icon:hover{
  color:var(--hover);
}

#cards {
  color: var(--hover);
}

.img {
  margin-left: 0px;
  text-align: left;
  width: 35px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  

}

.count { 
  top: 15px;
  left:25px;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}

  
 ::-webkit-scrollbar-thumb:hover {
    background: #555;
 }


/*phone size*/
@media only screen and (max-width: 600px) {

  #menubutton {
    display: none;
  }
  #menu2{
    height:70vh;
  }
  #icon{
    top:5px;
    right:15vw;
    width:25px;
  }
  #logo {
    z-index: 100;
    top: 0;
    left: -10vw;
    padding-right: 0px;
    padding-top: 5px;
  }

  svg{
    color:white;
  }
  #icon4 {
    color:white;
    position: fixed;
    right: 10px;
    padding-top: 10px;
    width: 25px;
  }
  button.mat-icon-button{
    right:-40px;
  }
  #icon3{
   display:none;
  }
  .right{
    right:12vw;
  }
  #notificationIcon{
    top:15px;
    position:fixed;
    color:white;
    right:12vw;
    width:25px;
  }
  #navbutton{
    color:var(--primary);
  }
  #nav{
   width:35vw;
   height:51vh;
   color:var(--primary);
  }
  #navtext {
    top:3vh;
    width: 20vw;
   
  }
  #notecard{
   width:45vw;
   box-shadow:none;
  }
  #menu{
    box-shadow:none;
  }
  .clear {
    color: var(--primary);
    top:10px;
  }
  #clearIcon {
    position: fixed;
    margin: 0px;
    width: 25px;
    right: 10px;
  }
}


@media only screen and (min-width: 601px) {
  #icon4{
    display:none;
  }
  #logo {
    z-index: 100;
    top: 0;
    left: 0;
    padding-right: 0px;
    padding-top: 5px;
  }
}
