
  <!--Top menu bar-->
  <mat-toolbar id="menu" class="mat-elevation-z8">
    <mat-toolbar-row>
      <!--Icons, top right-->
      <a (click)="openColor()" id="icon" matTooltip="Change Theme"><mat-icon>format_paint</mat-icon></a>
      <a (click)="viewAchievements()" routerLink="/achievements" *ngIf="active == 0" id="icon3" matTooltip="Achievements Page"><mat-icon>games</mat-icon></a>
      <a (click)="viewAchievements()" routerLink="/achievements" *ngIf="active > 0" id="icon3" matTooltip="Achievements Page"><mat-icon matBadge="{{active}}">games</mat-icon></a>

      <div class="right" matTooltip="Notifications">
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="restcount()">
          <mat-icon id="notificationIcon" svgIcon="notifications" *ngIf="notificationNumber > 0" matBadge={{notificationNumber}}>notifications</mat-icon>
          <mat-icon id="notificationIcon" *ngIf="notificationNumber == 0"></mat-icon>
        </button>
        <mat-icon [matMenuTriggerFor]="menu2" id="icon4">view_headline</mat-icon>

        <!--mobile nav only-->

        <mat-menu #menu2="matMenu" id="nav">
          <mat-card id="nav">
            <mat-card-title id="navtext"><span>Navigation</span></mat-card-title>
            <mat-divider style="color:var(--accent)"></mat-divider>
            <a id="navbutton" (click)="openDialog()" class="menuButton" *ngIf="router.url==='/home'"><br /> Post Task <br /><br /></a>
            <a id="navbutton" (click)="update()" routerLink="/home" class="menuButton" *ngIf="router.url!='/home'"> <br /> All Tasks <br /><br /></a>
            <mat-divider style="color:var(--accent)"></mat-divider><br />
            <a id="navbutton" (click)="update()" routerLink="/tasks" class="menuButton"> My Tasks </a><br /><br />
            <mat-divider style="color:var(--accent)"></mat-divider><br />
            <a id="navbutton" (click)="update()" routerLink="/profile" class="menuButton"> My Profile </a><br /><br />
            <mat-divider style="color:var(--accent)"></mat-divider><br />
            <a id="navbutton" (click)="update()" routerLink="/questions" class="text">FAQs </a><br /><br />
            <mat-divider style="color:var(--accent)"></mat-divider><br />
            <a id="navbutton" (click)="update()" routerLink="/about" class="text">About Us</a><br /><br />
            <mat-divider style="color:var(--accent)"></mat-divider><br />
            <a id="navbutton" (click)="update()" routerLink="/contact" class="text">Contact Us</a><br /><br />
          </mat-card>
        </mat-menu>
        <!--end of mobile navigation-->


        <!--notification menu popup-->
        <mat-menu #menu="matMenu" id="note">
          <mat-card-title style="height:53px">
            <mat-icon id="clearIcon" matTooltip="Clear All Notifications">delete_sweep</mat-icon>
            <mat-card-title id="notecard" class="bold">
              <span>Notifications</span>
              <span class="count" matBadge={{notifCount}} matBadgeColor="pink"></span>
              <button (click)="clearNotification()" mat-icon-button class="clear"></button>
            </mat-card-title>
            <mat-divider></mat-divider>
          </mat-card-title>


            <mat-card style="height: 300px; width: 225px; overflow-y: auto;  padding-top: 0em;">
              <mat-card-content>
                <ul style="list-style-type: none">
                  <li *ngFor="let notification of notifications">
                    <div class="notification-text">
                      <img *ngIf=noPic style="float:left; padding: 20px 0px;" src="https://ewp.global.lmco.com/Photo/Download/{{notification.PersonID}}" class="img">
                      <img *ngIf=pic style="float:left; padding: 20px 0px;" src="assets/person.png" class="img">
                      <mat-divider></mat-divider>
                      <br />
                      <span class="highlight"> {{notification.name}} </span> <span>{{notification.text}}</span>
                    </div>
                  </li>
                </ul>
              </mat-card-content>
            </mat-card>
          </mat-menu>
        <!--end of notifications-->

        </div>


        <!--Logo and buttons, top left-->
        <!--Check-->
        <a id="logo" (click)="update()" routerLink="/home"><img id="logo" src="assets/Scribbled_White4.png" width="110" height="45"></a>
        <a id="menubutton" (click)="openDialog()" class="menuButton" *ngIf="router.url==='/home'"> Post Task </a>
        <a id="menubutton" (click)="update()" routerLink="/home" class="menuButton" *ngIf="router.url!='/home'"> All Tasks </a>
        <a id="menubutton" (click)="update()" routerLink="/tasks" class="menuButton"> My Tasks </a>
        <a id="menubutton" (click)="update()" routerLink="/profile" class="menuButton"> My Profile </a>


        <!--This is a button to generate notification-->
        <!--<button class=" rightt" (click)="Create()">G</button>-->

      </mat-toolbar-row>
    </mat-toolbar>


