<h1 mat-register-title>Register</h1>

<div mat-register-content>
  <table>
    <!--Needs lots of work on design!-->
    <tr>
      <th>
        <mat-form-field color="accent" style="width:70vw">
          <input matInput placeholder="Full Name" [(ngModel)]="person.name" />
        </mat-form-field>
      </th>
    </tr>

    <tr>
      <th>
        <mat-form-field color="accent" style="width:70vw">
          <input matInput placeholder="Email" [(ngModel)]="person.email" />
        </mat-form-field>
      </th>
    </tr>

    <tr>
      <th>
        <mat-form-field color="accent" style="width:70vw">
          <mat-select placeholder="Category" [(ngModel)]="person.department">
            <mat-option *ngFor="let Depttype of types" [value]="Depttype.value">
              {{Depttype.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </tr>

    <tr>
      <th>
        <mat-form-field color="accent" style="width:70vw">
          <mat-select placeholder="Location" [(ngModel)]="person.location">
            <mat-option *ngFor="let loc of locations" [value]="loc.value">
              {{loc.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </tr>

    <tr>
      <th>
        <mat-form-field color="accent" style="width:70vw">
          <mat-select placeholder="Category" [(ngModel)]="person.employee">
            <mat-option *ngFor="let type of employeeType" [value]="type.value">
              {{type.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </tr>

    <tr>
      <th>
        <button mat-raised-button type="button" class="btn btn-success" (click)="openDialog()" routerLink="/profile">Submit</button>
      </th>
    </tr>

  </table>
</div>
