
<div class="container">

  <!--Needs lots of work on design!-->
  <h1>Login</h1>

 <form class="login-form">
    <mat-form-field class="form-entries">
      <input matInput placeholder="LM Email" [(ngModel)]="login.username" name="one"/>
    </mat-form-field>

    <mat-form-field class="form-entries">
      <input matInput placeholder="Password" [(ngModel)]="login.password" name="two"/>
    </mat-form-field>

    <!--keep me logged in-->
    <!--forget password-->

    <button mat-raised-button type="button" class="btn btn-success" routerLink="/home">Submit</button>

  </form>
</div>
