<!--Spacing to have the table show up under the menu-->
<p style="height:1px;"></p>

<mat-sidenav-container>

  <!--Main page content-->
  <mat-sidenav id="main" mode="side" opened="true">
    <p style="height:0px;"></p>
    <mat-list>
      <mat-list-item>
        <span id="title">Task</span>
        <span id="title">Need Date</span>
        <span id="title">Bandwidth</span>

          <mat-form-field id="sortTitle">
            <mat-select [(ngModel)]="pipeCategory">
              <mat-option *ngFor="let category of categories" [value]="category">
                <span id="sortTitle">{{category}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field id="sortTitle">
            <mat-select [(ngModel)]="pipeLocation">
              <mat-option *ngFor="let location of locations" [value]="location">
                <span id="sortTitle">{{location}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field id="sortTitle">
            <mat-select [(ngModel)]="pipeDifficulty">
              <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
                <span id="sortTitle">{{difficulty}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item id="item" color="primary" *ngFor="let task of (tasks | filterDifficulty : pipeDifficulty | filterLocation : pipeLocation | filterCategory : pipeCategory)"
                       [class.selected]="task === selectedTask"
                       (click)="select(task)">
          <span id="table">{{task.title}}</span>
          <span id="table">{{task.date}}</span>
          <span id="table">{{task.bandwidth}}%</span>
          <span id="sortTable">{{task.type}}</span>
          <span id="sortTable">{{task.location}}</span>
          <span id="sortTable">{{task.difficulty}}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

  <!--Sidenav-->
  <mat-sidenav-content id="side">
    <mat-card id="sidenav">
      <button mat-raised-button id="actionButton" [disabled]="buttonDisabled" (click)="claim(selectedTask)">Claim Task</button>

      <mat-card style="height:66vh">
        <div *ngIf="!selected" id="info">
          <mat-card-title>Welcome to GIG</mat-card-title>
          <div id="info">{{selectedTask.description}} <br /><br /></div>
        </div>
        <div *ngIf="selected" id="info">
          <mat-card-title>Task Description:</mat-card-title>
          <div id="description">{{selectedTask.description}} <br /><br /></div>
          <div id="descriptionSection">Point of Contact: </div> {{selectedTask.poc}} <br /><br />
          <div id="descriptionSection">Security Clearence Needed?</div>
          <div *ngIf=selectedTask.security>Yes</div>
          <div *ngIf=!selectedTask.security>No</div>
        </div>
      </mat-card>
    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>

<!--mobile home page-->

<mat-list [style.overflow]="'auto'" id="mobile">
  <mat-list-item>
    <span id="title">Task</span>
    <mat-form-field id="title">
      <mat-select [(ngModel)]="pipeLocation">
        <mat-option *ngFor="let location of locations" [value]="location">
          <span id="title">{{location}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="title">
      <mat-select [(ngModel)]="pipeCategory">
        <mat-option *ngFor="let category of categories" [value]="category">
          <span id="title">{{category}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-list-item>
  <mat-divider id="line"></mat-divider>
  <mat-list-item id="item" color="primary" *ngFor="let task of (tasks  | filterLocation : pipeLocation | filterCategory : pipeCategory)"
                 [class.selected]="task === selectedTask"
                 (click)="select(task)">

    <span id="table">{{task.title}}</span>
    <span id="table">{{task.location}}</span>
    <span id="table">{{task.type}}</span>
  </mat-list-item>
  <br /><br /><br /><br />
</mat-list>
  



<div *ngIf="selected" id="mobile">
  <mat-card [style.overflow]="'auto'" id="infoCard">
    <mat-icon (click)="close()" id="icon">clear</mat-icon>
    <mat-card-title style="font-size:15px;" id="title">Task Description:</mat-card-title>
    <div style="font-size:14px;" id="description">{{selectedTask.description}} <br /><br /></div>
    <div style="font-size:14px;" id="description">Bandwidth: </div> {{selectedTask.bandwidth}}%<br /><br />
    <div style="font-size:14px;" id="description">Need Date: </div> {{selectedTask.date}} <br /><br />
    <div style="font-size:10px;" id="descriptionSection">Point of Contact: </div> {{selectedTask.poc}} <br /><br />
    <div style="font-size:10px;" id="descriptionSection">Category: </div> {{selectedTask.type}} <br /><br />
    <div style="font-size:10px;" id="descriptionSection">Locaion: </div> {{selectedTask.location}} <br /><br />
    <div style="font-size:10px;" id="descriptionSection">Difficulty: </div> {{selectedTask.difficulty}} <br /><br />
    <div style="font-size:10px;" id="descriptionSection">Security Clearence Needed?</div>
    <div style="font-size:15px;" *ngIf=selectedTask.security>Yes</div>
    <div style="font-size:15px;" *ngIf=!selectedTask.security>No</div>

    <button mat-raised-button id="actionButton" (click)="claim(selectedTask)">Claim Task</button>
 
  </mat-card>
</div>

<!--end of mobile-->
