
#table {
  width: 9vw;
  color: black;
}

#sortTable {
  width: 13vw;
  color: black;
}

#title {
  color: black;
  width: 6vw;
  margin-right: 3vw;
  font-weight: bold;
}

#sortTitle {
  color: black;
  width: 10vw;
  margin-right: 3vw;
  font-weight: bold;
}

#side {
  height: 83vh;
  overflow: hidden;
}

#sidenav {
  width: auto;
  height: 100%;
  color: black;
}

#box {
  overflow-y: scroll;
}

#descriptionSection {
  font-weight: bold;
  font-size: small;
}

#description {
  font-weight: normal;
}

#profile {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: small;
}

#actionButton {
  display: block;
  margin: 15px auto;
  width: 100%;
  color: white;
  background-color: var(--accent);
}

#actionButton:disabled {
  color: grey;
  background-color: lightgrey;
}

#caption {
  padding-left: 10px;
  color: red;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.title {
  color: red;
}

.span:hover{
  background-color: var(--hover);
}


@media only screen and (max-width: 600px) {
  
  #side{
    display:none;
  }
  #main{
    display:none;
  }
  #table {
  
    width: 25vw;
    font-size: 12px;
    padding-right: 7vw;
    text-align: left;
  }

  #title {
    
    position: relative;
    font-size: 12px;
    width: 20vw;
    padding-right: 9vw;
  }

  #mobile {
    height:80vh;
    overflow-y: scroll;
    position: fixed;
    align-content: center;
    max-width: 600px;
    margin-left: -10vw;
    margin-right: 5vw;
  }
  #line {
    width: 100vw;
    left: 0;
    color: var(--primary);
    max-width: 600px;
  }
  #infoCard{
    
    width:95vw;
    height:90vh;
  }
  #icon{
    position:fixed;
    right:10px;
  }
  #actionButton{
    width:70vw;
    left:-1.5vw;
    right:15vw;
    align-content:center;
    text-align:center;
  }
}


@media only screen and (min-width: 601px) {
  #mobile{
    display:none;
  }

}
